#MyHomeland {
    width: 100vw;
    height: 100vh;
    // background: url("http://969210177.cn/img/MyHomeland.jpg") no-repeat;
    background-size: 100% 100%;
}
/deep/ input:focus{
    border: 1px solid #ccc;
}
