@for $i from 1 through 100 {
    .width_#{$i} { width: 1% * $i}
    .margin_left_#{$i}{margin-left:1px* $i}
    .margin_right_#{$i}{margin-right:1px* $i}
    .margin_top_#{$i}{margin-top:1px* $i}
    .margin_bottom_#{$i}{margin-bottom:1px* $i}
    .padding_left_#{$i}{padding-left:1px* $i}
    .padding_right_#{$i}{padding-right:1px* $i}
    .padding_top_#{$i}{padding-top:1px* $i}
    .padding_bottom_#{$i}{padding-bottom:1%* $i}
    .padding_#{$i}{padding:5px* $i}
    .line_heigth_#{$i}{line-height:2px*$i;}
    .font_size_#{$i}{font-size: 1px*$i;}
    .font_weight_#{$i}{font-weight:10*$i ;}
  }
  .border_red{
    border: 1px solid red;
  }
  .text_center{
    text-align: center;
  }
  .text_rigth{
    text-align: right;
  }
  .text_left{
    text-align: left;
  }
  .font_col_666{
    color: #666;
  }
  .box_shandow:active{
    box-shadow:  5px 5px 5px   #888888 inset;
  }
  .vertical_align_middle{
    vertical-align: middle;
  }
  .vertical_align_bottom{
    vertical-align: text-bottom;
  }
  .border_radius_5{
    border-radius: 5px;
  }
  .inline_block{
    display: inline-block;
  }
  .postion_relative{
    position: relative;
  }